//- template
extends ../layouts/default

//- dependencies
include ../../src/components/about/about
include ../../src/components/banners/banners
include ../../src/components/contact/contact
include ../../src/components/main-footer/main-footer
include ../../src/components/main-header/main-header
include ../../src/components/products/products
include ../../src/components/offers/offers
include ../../src/components/suppliers/suppliers

//- markup
block content
  +main-header 
  +banners
  +about
  +products
  +offers
  +suppliers
  +contact
  +main-footer
