//- dependencies
include ./items
include ../content-header/content-header

mixin products
  section.c-products
    #produtos.h-anchor
    .h-limiter
      +content-header('Produtos', 'Uma grande variedade de produtos atuais, inovadores e de qualidade assegurada.')

    .c-products__wrapper
      .h-limiter
        each items, type in products
          .c-products__section
            +content-header(type, '', 'sub')
            +products-items(items)
