//- dependencies
include ./items
include ../content-header/content-header

mixin products
  section.c-products
    .h-limiter
      +content-header('Produtos', 'Uma grande variedade de produtos atuais, inovadores e de qualidade assegurada.')

    .c-products__wrapper
      .h-limiter
        +content-header('Pisos', '', 'sub')
        +products-items
