doctype html

//- dependencies
include ../mixins/includes

//- vars
- postfix = (env === 'production') ? '.min' : ''

html.root
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    title= title || 'Pisonorte'
    
    //- Favicon
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192',  href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')

    //-[if lt IE 9]
      script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    //-[endif]

    +google-fonts('PT+Sans:400,700,400italic,700italic')
    +css('base')
    +js('//maps.googleapis.com/maps/api/js?v=3.exp!')

  body
    .c-main-wrapper
      block content

    if env !== 'production'
      script(src='//localhost:4100/livereload.js')

    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=378405708894505";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    +js('//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery')
    +js('//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js!')
    +js('vendor/conic-gradient.ns')
    +js('vendor/jquery.nav')
    +js('app/main')
