doctype html

//- dependencies
include ../mixins/includes

//- vars
- postfix = (ENV === 'production') ? '.min' : ''

html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    title= title || 'Pisonorte'
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')

    //-[if lt IE 9]
      script(src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    //-[endif]

    +google-fonts('PT+Sans:400,700,400italic,700italic')
    +css('base')
    +js('//maps.googleapis.com/maps/api/js?v=3.exp!')

  body
    .main-wrapper
      block content

    if ENV !== 'production'
      script(src='//localhost:35728/livereload.js')

    +js('//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js!')
    +js('vendor/conic-gradient.ns')
