mixin social-nav(baseClass)
  nav.c-social-nav(class=baseClass)
    li.c-social-nav__item
      a.c-social-nav__link(href='mailto:#{email}')
        i.c-social-nav__icon.icon.icon--mail

    li.c-social-nav__item
      a.c-social-nav__link(href='https://fb.com/pisonorteacabamentos')
        i.c-social-nav__icon.icon.icon--social-facebook
