//- dependencies
//- include ./items
include ../content-header/content-header

mixin suppliers
  section.suppliers
    .h-limiter
      +content-header('Fornecedores', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit')

    .c-suppliers__wrapper
      .h-limiter
