//- dependencies
include ./items
include ../content-header/content-header

mixin suppliers
  section.c-suppliers
    .h-limiter
      +content-header('Fornecedores', 'As melhores marcas e os melhores produtos você encontra aqui na Pisonorte.')

    .c-suppliers__wrapper
      .h-limiter
        +supplier-items
