.main-wrapper
  &:before,
  &:after
    content ''
    position fixed
    height 0.4rem
    top 0
    z-index 2

  &:before
    background $color-brand
    width 100%

  &:after
    background $color-accent
    width 20%
    right 0
