//- dependencies
include ./items
include ../content-header/content-header

mixin about
  section.c-about
    #empresa.h-anchor
    .h-limiter
      +content-header('A Empresa', 'Nossa missão é entregar seu produto no prazo estipulado, Ter um ótimo atendimento, preço justo e competitivo.')

    .c-about__wrapper
      .h-limiter
        +about-items
