.c-about
  background url('/img/about-bg.png') center -2.5rem no-repeat
  padding 2rem 0 4rem

  +breakpoint(md)
    padding-bottom 8rem

  &__item
    color $color-grey
    display flex
    margin-top 1rem

    +breakpoint(sm)
      margin-top 0

  &__icon-wrapper
    margin 1.25rem 2rem
    text-align center

    &:before
      background $color-light-grey
      content ''
      display block
      width 4rem
      height @width
      transform rotate(45deg)

  &__icon
    font-size 2.5rem
    position relative
    top -3.25rem

  &__content
    flex 1

  &__heading
    margin-bottom 0.25rem
    text-transform uppercase

  &__description
    font-size rem(14)
    line-height 1.5
    padding-right 2rem
