mixin about-items
  ul.c-about__items.u-grid

    li.u-grid__cell.u-grid__cell--1-2.c-about__item
      i.icon.c-about__icon
      section.c-about__content
        h3.c-about__heading A Pisonorte
        p.c-about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti atque animi possimus unde beatae maxime hic omnis, eveniet ex nobis numquam consectetur perspiciatis itaque fugiat odit quidem, non excepturi.

    li.u-grid__cell.u-grid__cell--1-2.c-about__item
      i.icon.c-about__icon
      section.c-about__content
        h3.c-about__heading Produtos
        p.c-about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti atque animi possimus unde beatae maxime hic omnis, eveniet ex nobis numquam consectetur perspiciatis itaque fugiat odit quidem, non excepturi.

    li.u-grid__cell.u-grid__cell--1-2.c-about__item
      i.icon.c-about__icon
      section.c-about__content
        h3.c-about__heading Estrutura
        p.c-about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti atque animi possimus unde beatae maxime hic omnis, eveniet ex nobis numquam consectetur perspiciatis itaque fugiat odit quidem, non excepturi.

    li.u-grid__cell.u-grid__cell--1-2.c-about__item
      i.icon.c-about__icon
      section.c-about__content
        h3.c-about__heading Condições
        p.c-about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti atque animi possimus unde beatae maxime hic omnis, eveniet ex nobis numquam consectetur perspiciatis itaque fugiat odit quidem, non excepturi.
