mixin about-items
  ul.c-about__items.u-grid.u-grid--doubled-gutter

    li.c-about__item.u-grid__cell.u-grid__cell--1-2
      .icon.c-about__icon-wrapper
        i.icon.icon--logo.c-about__icon
      section.c-about__content
        h3.c-about__heading A Pisonorte
        p.c-about__description Fundada em setembro de 2014, a empresa conta com profissionais com mais de 10 anos de experiência no ramo, que os capacita para um atendimento personalizado e de qualidade solucionando os problemas e dúvidas dos clientes.

    li.c-about__item.u-grid__cell.u-grid__cell--1-2
      .icon.c-about__icon-wrapper
        i.icon.icon--starburst-outline.c-about__icon
      section.c-about__content
        h3.c-about__heading Produtos
        p.c-about__description Sempre de olho nas tendências do mercado da arquitetura e construção contamos com uma grande variedade de produtos atuais, inovadores e de qualidade assegurada. Nossa prioridade é entregar seu produto no prazo estipulado. Se precisar, contamos com serviço de entrega próprio para maior facilidade e comodidade.

    li.c-about__item.u-grid__cell.u-grid__cell--1-2
      .icon.c-about__icon-wrapper
        i.icon.icon--home-outline.c-about__icon
      section.c-about__content
        h3.c-about__heading Estrutura
        p.c-about__description Ambiente amplo de fácil acesso (ao lado do cemitério da Saul Elkind), nossa loja é destinada ao bem estar do cliente deixando-o com livre acesso aos produtos para uma melhor experiência e definição correta do que deseja para sua casa ou empresa.

    li.c-about__item.u-grid__cell.u-grid__cell--1-2
      .icon.c-about__icon-wrapper
        i.icon.icon--clipboard.c-about__icon
      section.c-about__content
        h3.c-about__heading Condições
        p.c-about__description Nossos preços vão desde produtos econômicos aos mais elitizados sem perder a qualidade, ponto fundamental nas escolhas de nossos pisos. Contamos também com promoções permanentes ou queimas de estoque onde conseguimos sempre um preço justo e competitivo. Facilidades nos pagamentos em até 10 X nos cartões!
