.c-main-nav
  text-align right

  +breakpoint(lg)
    text-align center

  &__nav
    display none

    +breakpoint(lg)
      display inline-block

  &__item
    display inline-block

    &:before
      content: '|'
      padding 0 0.5rem

    &:first-child:before
      display none

    &.is-active
      .c-main-nav__link
        font-weight 700

  &__link
    font-size 1.05rem
    text-transform uppercase

    &.is-active
      font-weight 700

  &__select
    appearance none
    background none
    border 1px solid
    border-radius 2px
    color $color-brand
    display inline-block
    padding 0.5rem
    width 4.25rem

    +breakpoint(lg)
      display none
