@font-face {
  font-family: 'pisonorte';
  src:url('/fonts/pisonorte.eot?mnw5y9');
  src:url('/fonts/pisonorte.eot?#iefixmnw5y9') format('embedded-opentype'),
    url('/fonts/pisonorte.ttf?mnw5y9') format('truetype'),
    url('/fonts/pisonorte.woff?mnw5y9') format('woff'),
    url('/fonts/pisonorte.svg?mnw5y9#pisonorte') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'pisonorte';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--logo:before {
  content: "\e600";
}
.icon--starburst-outline:before {
  content: "\e601";
}
.icon--social-facebook:before {
  content: "\e602";
}
.icon--home-outline:before {
  content: "\e603";
}
.icon--mail:before {
  content: "\e604";
}
.icon--clipboard:before {
  content: "\e605";
}
.icon--device-phone:before {
  content: "\e606";
}
