//- dependencies
include ./form
include ../content-header/content-header

mixin contact
  section.contact
    .h-limiter
      +content-header('Orçamentos/Contato', 'Estamos de portas abertas para você, seja nosso cliente faça seu contato agora mesmo.')

    .c-contact__wrapper
      .h-limiter
        .u-grid
          .u-grid__cell.u-grid__cell--2-5
            .c-contact__cell
              +contact-form

              .c-contact__fb
                .fb-page(data-href='https://www.facebook.com/pisonorteacabamentos', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true', data-show-posts='false')
                  .fb-xfbml-parse-ignore
                    blockquote(cite='https://www.facebook.com/pisonorteacabamentos')
                      a(href='https://www.facebook.com/pisonorteacabamentos') Pisonorte Acabamentos

          .u-grid__cell.u-grid__cell--3-5
            .c-contact__cell
              #map-canvas.c-contact__map
