mixin friend-box
  .c-contact__fb
    .fb-page(data-href='https://www.facebook.com/pisonorteacabamentos', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true', data-show-posts='false')
      .fb-xfbml-parse-ignore
        blockquote(cite='https://www.facebook.com/pisonorteacabamentos')
          a(href='https://www.facebook.com/pisonorteacabamentos') Pisonorte Acabamentos
