.c-main-footer
  background darken(#fff, 5)
  color #333
  padding 2rem 1rem
  text-align center

  +breakpoint(md)
    padding 5rem 1rem

  &__text
    strong
      font-weight 300
      text-transform uppercase
