.c-banners
  &__item
    background-attachment fixed
    background-position center
    background-size cover
    position relative
    height 100vh

  &__text
    color $color-brand
    position fixed
    text-transform uppercase
    font-size 3.5rem
    font-weight 700
    left: 60%
    bottom: 4rem
    line-height 0.9

    &-bottom
      color $color-accent
