.c-banners
  height 100vh

  &__item
    background-attachment fixed
    background-position center
    background-size cover
    position absolute
    height 100vh
    opacity 0
    visibility hidden
    width 100%
    transition 0.5s

    &.is-visible
      opacity 1
      visibility visible

  &__text
    color $color-brand
    position fixed
    text-transform uppercase
    font-size 3.5rem
    font-weight 700
    left: 60%
    bottom: 4rem
    line-height 0.9

    &-bottom
      color $color-accent
