.c-content-header
  color $color-grey
  padding 2rem 0
  text-align center
  text-transform uppercase

  +breakpoint(md)
    padding 3.5rem 0

  &--sub
    border-bottom 1px solid $color-brand
    margin-bottom 0.25rem
    padding 0 0 0.15rem
    text-align left

  &__heading
    font-size 2rem

  &__description
    font-size rem(14)
    font-style italic
    margin-left 2rem
