//- dependencies
include ../main-nav/main-nav
include ../social-nav/social-nav

mixin main-header
  header.main-header
    .h-limiter
      .u-grid.is-centered
        h1.main-header__logo.u-grid__cell.is-dummy
          img(src='/img/logo.png', alt='Pisonorte Acabamentos')

        +main-nav('u-grid__cell')
        +social-nav('u-grid__cell is-dummy')
