//- dependencies
include ./items
include ../content-header/content-header

mixin offers
  section.c-offers
    .h-limiter
      +content-header('Promoções', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit')

    .c-offers__wrapper
      .h-limiter
        +offers-items
