//- dependencies
include ./items
include ../content-header/content-header

mixin offers
  section.c-offers#promocoes
    .h-limiter
      +content-header('Promoções', 'Nossa loja conta com promoções permanentes ou queima de estoques imperdíveis.')

    .c-offers__wrapper
      .h-limiter
        +offers-items
